/* Footer */
footer {
    background-color: #1f2d3d;
    color: white;
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
  }
  
  footer .contact-info {
    margin-bottom: 1.5rem;
  }
  
  footer .contact-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  footer .contact-info p {
    margin: 0.3rem 0;
  }
  
  footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }
  
  footer .social-icons a {
    background-color: #ffffff;
    color: #203a43;
    padding: 0.75rem;
    border-radius: 50%;
    transition: background 0.3s ease;
    font-size: 1.5rem;
  }
  
  footer .social-icons a:hover {
    background-color: #00bfff;
    color: #ffffff;
  }
  
  footer p {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  .contact-link {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
  }
  .contact-link:hover {
    color: darkblue;
  }
  

  
  
  @media (max-width: 768px) {
    footer {
      padding: 2rem 0;
    }
  
    footer .social-icons a {
      padding: 0.5rem;
      font-size: 1.2rem;
    }
  }
  